    - name: Setup KernelSU-Next
      run: |
        # التأكد من التواجد في المجلد الرئيسي للسورس
        cd $GITHUB_WORKSPACE
        # تحميل وتشغيل سكربت الإعداد للإصدار legacy
        curl -LSs "https://raw.githubusercontent.com/KernelSU-Next/KernelSU-Next/next/kernel/setup.sh" | bash -s v3.0.1-legacy

