name: Update Submodule Pointer
on: workflow_dispatch

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: false 
      - name: Update Submodule
        run: |
          git config user.name "Link2mem"
          git config user.email "were.aksle@gmail.com"
          
          git update-index --add --cacheinfo 160000 1fe50d167faff27ebedd9421cda73a269b3e13a7 KernelSU-Next
          
          git commit -m "Update submodule pointer to 1fe50d1"
          git push origin main
